<div class="flex justify-center">
    <h4 class="text-primary font-extrabold font">List of User Details</h4>
  </div>
  <div class="table-responsive-sm" id="pdfdownload">
    <table class="table table-hover">
      <thead class=" table-dark">
        <tr>
          <th scope="col">User Name</th>
          <th scope="col">Email Id</th>
          <th scope="col">Mobile No</th>
          <th scope="col">Address</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let item of userDetails">
          <td>{{item.user_name}}</td>
          <td>{{item.email_id}}</td>
          <td>{{item.mobile_no}}</td>
          <td>{{item.address}}</td>
        </tr>
      </tbody>
    </table>
  </div>
 
 
  